//header + rules + game area responsiveness

@media screen and (max-width:917px) {
    .rules{
        width:70%;
    }
    .input{
        width:70%;
    }
    
}

@media screen and (max-width:540px) {
    .rules{
        width:80%;
    }
    .input{
        width:80%;
    }
    
}
@media screen and (max-width:491px) {
    .rules{
        width:90%;
    }
    .input{
        width:90%;
    }
    
}

@media screen and (max-width:340px) {
    #header{
        font-size: 35px;
    }
}



//modal responsiveness
@media screen and (max-width:769px) {
    .modal .modalinner{
        width:60%;
    }
    .modal{
        height: 100vh + 10vh;
    }
    
}
@media screen and (max-width:508px) {
    .modal .modalinner{
        width:60%;
    }
    
}
@media screen and (max-width:350px) {
    .modal{
        height: 100vh + 2.5vh;

    }
    .modal .modalinner{
        width:70%;
    }
    
}