.rules{
margin:auto;
    margin-top: 60px;
    width:40%;
    text-align: center;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    border-radius: 5px;
    padding:35px;

}