@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$blue:#0048BE  ;
$green:#0C7E17;
$red:#C60505;
$white:#fcfeff;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:$white;
    font-family: 'Montserrat', sans-serif;
}
