.green{
    height:100vh;
    background-color: $green;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor: pointer;
    }
}