
.hero{
font-family: sf-ui-regular;
background-color: $background;
color:$color;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 20px;
& h1{
    font-family: sf-ui-heavy;
    font-size: 90px;
    color: $nextcolor;
}
& h2{
    color:$nextcolor;
    font-size: 30px;
}
}