
.load{
height:50vh;
    color: $background;
    font-family: sf-ui-regular;
    font-size: 50px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}