.squareparent{
    width:50%;
    margin:20px auto;
    font-size: 50px;
  border: 2px solid $black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    border-radius: 5px;
   

    & .square{
   background-color: #eef0f0;
   text-align: center;
   width:100%;
   border-radius: 5px;
   padding:10px;
   & p{
    visibility: hidden;
    
   }
   &:hover{
    cursor: pointer;
   }
    }
}

.reveal{
    visibility: visible !important;
   }