@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$green:#11A683;
$white:#fcfeff;
$yellow:#ffd154;
$black:#000000;
*{
 padding: 0;
 margin: 0;  
 box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
 background-color: $green;

 
}