//rule responsiveness
@media screen and (max-width:1091px) {
    .rules{
        width:70%;
    }
    
}

@media screen and (max-width:793px) {
    .rules{
        width:80%;
    }
    
}

@media screen and (max-width:506px) {
    .rules{
        width:90%;
    }
    
}
@media screen and (max-width:443px) {
    .rules{
        width:90%;
    }
    .hero .header{
        font-size: 40px;
    }
    
}

@media screen and (max-width:366px) {
    .rules{
        width:95%;
    }
    .hero .header{
        font-size: 30px;
    }
    
}
//game area responsiveness
@media screen and (max-width:1257px) {
    .scoreandlives,.controls{
        width:30%;
    }
        
}

@media screen and (max-width:911px) {
    .scoreandlives,.controls{
        width:40%;
    }
        
}

@media screen and (max-width:689px) {
    .scoreandlives,.controls{
        width:50%;
    }
        
}

@media screen and (max-width:548px) {
    .scoreandlives,.controls{
        width:60%;
    }
        
}

@media screen and (max-width:429px) {
    .scoreandlives,.controls{
        width:75%;
    }
        
}

@media screen and (max-width:352px) {
    .scoreandlives,.controls{
        width:85%;
    }
    .controls{
        margin-bottom: 15px;
    }
       .word{
        font-size: 14px;
       } 
}
//modal responsiveness
@media screen and (max-width:508px) {
    .modal .modalinner{
        width:60%;
    }
    
}
@media screen and (max-width:350px) {
    .modal{
        height: 100vh + 2.5vh;

    }
    .modal .modalinner{
        width:70%;
    }
    
}