//rule responsiveness
@media screen and (max-width:1091px) {
    .rules{
        width:70%;
    }
    
}

@media screen and (max-width:793px) {
    .rules{
        width:80%;
    }
    
}

@media screen and (max-width:506px) {
    .rules{
        width:90%;
    }
    
}
@media screen and (max-width:443px) {
    .rules{
        width:90%;
    }
    .hero .header{
        font-size: 40px;
    }
    
}

@media screen and (max-width:366px) {
    .rules{
        width:95%;
    }
    .hero .header{
        font-size: 30px;
    }
    
}
//game area responsiveness
@media screen and (max-width:1257px) {
    .scoreandlives,.controls{
        width:30%;
    }
        
}
//modal responsiveness
