.rules{
    width:50%;
    margin:auto;
    text-align: center;
    padding:30px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
margin-bottom: 50px;
    border-radius: 5px;
    & p{
        margin: 20px auto;
    }
    & a{

        text-decoration: none;
        background-color: $yellow;
        padding:10px 40px;
        color:black;
        border-radius: 5px;
    }
}