footer{
    color:#000;
    margin-top: 100px;
    padding:20px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    & a{
        color:inherit;
        text-decoration: none;
    }
    & .socials{
        & a{
            color:$primary_color;
            margin-right: 10px;
            &:hover{
                color: $deep_green;
            }
        }
    }
    

}
#feedback{
   padding:10px 15px;
   border-radius: 5px;
   color: #fcfeff;
   background-color: $primary_color;
   &:hover{
    background-color:$deep_green;
   }
}