.games{
    width:75%;
    margin:90px auto 30px auto;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

 
& div{
    border-radius: 5px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);;
    padding-bottom: 20px;
    & a{
        color:#fcfeff;
        background-color: $primary_color;
        padding:8px 40px;
        border-radius: 5px;
        text-decoration: none;
       &:hover{
        background-color:$deep_green;

       }
    }
    
  & img{
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
  }
  & h1{
    margin: 20px auto;
  }
}
}

#play:hover{
    background-color: $deep_green;
 
}