.loader{
    font-size: 30px;
    color: $primary_color;
    background-color: #fcfeff;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:999999;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

