//hero responsiveness

@media screen and (max-width:391px) {
    .c{
      font-size: 25px;
      height:75vh;
    }
}
//games section responsiveness
@media screen and (max-width:992px) {
    .games{
        width: 90%;
        & .gamesinner{
            width:100%;
        }
    }
}

@media screen and (max-width:927px) {
    .games{
        width: 90%;

        & .gamesinner{
            width:75%;
            grid-template-columns: repeat(2, 1fr);

        }
    }
}

@media screen and (max-width:766px) {
    .games{
        width: 90%;

        & .gamesinner{
            width:90%;
            grid-template-columns: repeat(2, 1fr);

        }
    }
}

@media screen and (max-width:636px) {
    .games{
        width: 95%;

        & .gamesinner{
            width:100%;
            grid-template-columns: repeat(2, 1fr);

        }
    }
}

@media screen and (max-width:560px) {
    .games{
        width: 95%;

        & .gamesinner{
            width:60%;
            grid-template-columns: repeat(1, 1fr);

        }
    }
}

@media screen and (max-width:490px) {
    .games{
        width: 95%;

        & .gamesinner{
            width:70%;
            grid-template-columns: repeat(1, 1fr);

        }
    }
}

@media screen and (max-width:390px) {
    .games{
        width: 95%;

        & .gamesinner{
            width:80%;
            grid-template-columns: repeat(1, 1fr);

        }
    }
}

//footer responsiveness

@media screen and (max-width:582px) {
    footer{
flex-direction: column;        
    }
    .socials{
        margin: 20px auto;
    }
}