@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#header {
  font-size: 45px;
  margin: 30px auto;
  text-align: center;
}

.rules {
  margin: auto;
  margin-top: 60px;
  width: 40%;
  text-align: center;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  border-radius: 5px;
  padding: 35px;
}