@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#header {
  font-size: 45px;
  margin: 30px auto;
  text-align: center;
}

.rules {
  margin: auto;
  margin-top: 60px;
  width: 40%;
  text-align: center;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  border-radius: 5px;
  padding: 35px;
}

.input {
  width: 40%;
  margin: 75px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input input {
  padding: 10px;
  width: 100%;
}
.input a {
  text-decoration: none;
  color: #fcfeff;
  background-color: #000000;
  padding: 9px 40px;
  border-radius: 5px;
}
.input a:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
.input .checkandscore {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.input .startguessing {
  margin-bottom: 30px;
}

.guides {
  width: 100%;
  margin: -20px auto 12px auto;
  text-align: center;
}

.scrolldisable {
  overflow: hidden;
}

.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modalinner {
  padding: 40px;
  background-color: #fcfeff;
  width: 40%;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}
.modal .modalinner p {
  margin: 15px;
}
.modal .modalinner .score {
  margin-bottom: 20px;
}
.modal .modalinner a {
  text-decoration: none;
  color: #fcfeff;
  background-color: #000000;
  padding: 9px 40px;
  border-radius: 5px;
}
.modal .modalinner a:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

@media screen and (max-width: 917px) {
  .rules {
    width: 70%;
  }
  .input {
    width: 70%;
  }
}
@media screen and (max-width: 540px) {
  .rules {
    width: 80%;
  }
  .input {
    width: 80%;
  }
}
@media screen and (max-width: 491px) {
  .rules {
    width: 90%;
  }
  .input {
    width: 90%;
  }
}
@media screen and (max-width: 340px) {
  #header {
    font-size: 35px;
  }
}
@media screen and (max-width: 769px) {
  .modal .modalinner {
    width: 60%;
  }
  .modal {
    height: 110vh;
  }
}
@media screen and (max-width: 508px) {
  .modal .modalinner {
    width: 60%;
  }
}
@media screen and (max-width: 350px) {
  .modal {
    height: 102.5vh;
  }
  .modal .modalinner {
    width: 70%;
  }
}