@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #11A683;
}

.hero {
  color: #fcfeff;
}
.hero .header {
  margin: 30px;
  text-align: center;
  font-size: 50px;
}
.hero h2 {
  margin-bottom: 30px;
}

.scoreandlives {
  font-size: 30px;
  margin: auto;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.word {
  margin: 50px auto;
  text-align: center;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}
.controls a {
  text-decoration: none;
  background-color: #ffd154;
  padding: 10px 40px;
  color: black;
  border-radius: 5px;
}

.rules {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  margin-bottom: 50px;
  border-radius: 5px;
}
.rules p {
  margin: 20px auto;
}
.rules a {
  text-decoration: none;
  background-color: #ffd154;
  padding: 10px 40px;
  color: black;
  border-radius: 5px;
}

.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modalinner {
  padding: 40px;
  background-color: #11A683;
  color: #fcfeff;
  width: 40%;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}
.modal .modalinner p {
  margin: 15px;
}
.modal .modalinner .score {
  margin-bottom: 20px;
}
.modal .modalinner a {
  text-decoration: none;
  color: #000000;
  background-color: #ffd154;
  padding: 9px 40px;
  border-radius: 5px;
}

@media screen and (max-width: 1091px) {
  .rules {
    width: 70%;
  }
}
@media screen and (max-width: 793px) {
  .rules {
    width: 80%;
  }
}
@media screen and (max-width: 506px) {
  .rules {
    width: 90%;
  }
}
@media screen and (max-width: 443px) {
  .rules {
    width: 90%;
  }
  .hero .header {
    font-size: 40px;
  }
}
@media screen and (max-width: 366px) {
  .rules {
    width: 95%;
  }
  .hero .header {
    font-size: 30px;
  }
}
@media screen and (max-width: 1257px) {
  .scoreandlives, .controls {
    width: 30%;
  }
}
@media screen and (max-width: 911px) {
  .scoreandlives, .controls {
    width: 40%;
  }
}
@media screen and (max-width: 689px) {
  .scoreandlives, .controls {
    width: 50%;
  }
}
@media screen and (max-width: 548px) {
  .scoreandlives, .controls {
    width: 60%;
  }
}
@media screen and (max-width: 429px) {
  .scoreandlives, .controls {
    width: 75%;
  }
}
@media screen and (max-width: 352px) {
  .scoreandlives, .controls {
    width: 85%;
  }
  .controls {
    margin-bottom: 15px;
  }
  .word {
    font-size: 14px;
  }
}