body {
  font-family: "Nunito", sans-serif;
  background-color: #1b2845;
  color: #fcfeff;
}
#scores {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
  width: 60%;
}
#yourScore,
#computerScore {
  width: 150px;
  background-color: #274060;
  text-align: center;
  border-radius: 5px;
}
#RCS {
  text-align: center;
  margin: 70px auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
}
#rock,
#paper,
#scissors {
  font-size: 20px;
  background-color: #114a83;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
}
i {
  font-size: 4rem;
}

#restart {
  text-decoration: none;
  text-align: center;
  color: #fcfeff;
  font-size: 20px;
  padding: 10px 40px;
  background-color: #046afc;
  border-radius: 5px;
  width: 5%;
  display: block;
  margin: auto;
}
#restart:hover {
  background-color: #00b7ff;
}
#rock:hover,
#paper:hover,
#scissors:hover {
  cursor: pointer;
}

/*Modals*/
#rockdraw,
#rockwin,
#rocklose,
#paperdraw,
#paperwin,
#paperlose,
#scissorsdraw,
#scissorswin,
#scissorslose {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
#inner {
  width: 20%;
  background-color: #274060;
  border-radius: 5px;
}
#drawcolor {
  color: #ffc300;
}
#losecolor {
  color: #da0808;
}

#wincolor {
  color: #0ab359;
}
/*No display*/
.nodisplay {
  display: none;
}
.yesdisplay {
  display: flex;
}
